* {
	font-family: Garamond;
}

h1 {
	padding-top: 50px;
	text-align: center;
	vertical-align: center;
	background-color: darkcyan;
	color: white;
	text-transform: uppercase;
}

h3 a {
	font-style: italic;
	text-transform: lowercase;
}

nav {
	height: 30px;
	width: 100%;
}

nav a {
	height: 25px;
	padding: 10px;
	margin-right: 20px;
	border: 2px;
	border-style: solid;
	border-color: white;
	border-style: hidden;
	vertical-align: center;
	background-color: dodgerblue;
	color: white;
	text-decoration: none;
}

nav a:hover {
	background-color: darkcyan;
}

nav a.sel {
	border-style: solid;
	border-color: black;
}

p {
	width: 500px;
}